<br><br>

  <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" >
  <img src="../assets/img/foto.png" class="img-fluid rounded-circle" alt="foto_perfil" id="fotoperfil">
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="nameis"> {{persona.nombre}}</p>
        <p>Full Stack developer Jr</p>
      </div>
      <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h3>Acerca de mi</h3>
   <br>
    <p>Soy desarrollador web FullStack Jr capacitado por Argentina programa, radicado en San Miguel de Tucumán, Argentina. Dedico mi tiempo libre a la programación, me gusta aprender y mantenerme actualizado sobre nuevas tecnologías para así  desarrollar aplicaciones web que brinden soluciones rápidas, funcionales y de la mejor calidad a las personas. </p>
  </span>

</div>


