<br><br>
<h3>Educación</h3>

  <div class="row">
<div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 logoEsc">
    <img  src="../../../assets/img/tec3.png" class="img-fluid"  alt="Tecnica3">
</div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h6>Ciclo basico:</h6>
    <p>Cursados en Esc. Tecnica n° 3 "Dr.Juan B. Teran"(2007-2009).</p>
    <p>
      <a href="https://tecnica3jbt.edu.ar/" target="_blank">Página web</a>
    </p>
    <br><br>
    <h6>Ciclo superior:</h6>
    <p>Cursados en Esc. Secundaria Gral. Manuel Belgrano (2010-2012).
      Titulo obtenido: "Bachiller en comunicación, artes y dise&ntilde;o".</p>

  </div>
</div>
  </div>

