<br><br>
<div class="projects">

  <h3>Proyectos realizados</h3>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="txt-center">
        <img src="../../../assets/img/primer_portfolio.png" alt="Primer Portfolio web" class="img-fluid">
        <h4>Primer portfolio web</h4>
        <p>Portfolio web,creado con html,css+bootstrap </p>
        <button type="button" class="btn btn-success"><a href="https://mtsarias.000webhostapp.com/" target="_blank">Ir a
            web</a></button>
        <br><br><br>
        <img src="../../../assets/img/practica-js.png" alt="Practicas_cur_js" class="img-fluid">
        <h4>Practicas lenguaje JavaScript</h4>
        <p>Practicas realizadas con javascript,a partir de videos, libros etc</p>
        <button type="button" class="btn btn-success"><a href="https://github.com/Mts94/practicajs" target="_blank">Ir a
            web</a></button>
        <br><br><br>
        <img src="../../../assets/img/practica_angular.png" alt="Practicas Angular" class="img-fluid">
        <h4>Practicas de angular</h4>
        <p>Practicas realizadas con agular en proceso</p>
        <button type="button" class="btn btn-success"><a href="https://github.com/Mts94/aprendiendo-angular"
            target="_blank">Ir a web</a></button>
        <br><br><br>
      </div>
    </div>


  </div>
</div>