
<br><br>
<h3> Experiencia laboral</h3>

<div class="experiencia">
    <div class="row">
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 logoLibertad">
<img  src="../../../assets/img/libertad-logo.png" class="img-fluid"  alt="HiperLibertad">
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 description">
<h6>Personal de facturacion - (2015-act).</h6>
<p>Actualmente me encuentro trabajando como personal de facturación en hipermercados Libertad, especificamente
  sucursal Tucumán 2, Me desempeño principalmente como cajero. Aunque  también tengo conocimientos de sectores
  que tienen que ver con facturación(Servicios de atención a clientes, tesoreria), como así también el sector
  de e-commerce.
</p>
<p><a href="https://www.hiperlibertad.com.ar/institucional/nuestra-empresa" target="_blank">Página web</a></p>
</div>
</div>

</div>
