<br><br>
<h3>Hard & soft skills</h3>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>



  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      
      <div class="card" style="width: 10rem">
        <div class="card-body">
          <circle-progress [percent]="45" [radius]="50" [showTitle]="true" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'#e34c26'" [innerStrokeColor]="'#f06529'" [animation]="true" [animationDuration]="1000"
            [subtitle]="'html'"></circle-progress>
        </div>
      </div>

      <div class="card" style="width: 10rem;">
        <div class="card-body">
          <circle-progress [percent]="35" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'#264de4'" [innerStrokeColor]="'#2965f1'" [animation]="true" [animationDuration]="1000"
            [subtitle]="'Css'"></circle-progress>
        </div>
      </div>


      <div class="card" style="width: 10rem">
        <div class="card-body">
          <circle-progress [percent]="30" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'#F0DB4F'" [innerStrokeColor]="'#F0DB4F'" [animation]="true" [animationDuration]="1000"
            [subtitle]="'JavaScript'"></circle-progress>
        </div>
      </div>

</div>
      <div class="carousel-item">
      <div class="card" style="width: 10rem">
        <div class="card-body">
          <circle-progress [percent]="40" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
            [outerStrokeColor]="'#000000'" [innerStrokeColor]="'#1d1a1a'" [animation]="true" [animationDuration]="1000"
            [subtitle]="'git/github'"></circle-progress>
        </div>
      </div>


      <div class="card" style="width: 10rem">
        <div class="card-body">
          <circle-progress [percent]="30" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
          [outerStrokeColor]="'#dd1b16'" [innerStrokeColor]="'#a6120d'" [animation]="true" [animationDuration]="1000"
          [subtitle]="'Angular'"></circle-progress>
        </div>
      </div>


      <div class="card" style="width: 10rem">
        <div class="card-body">
          <circle-progress [percent]="20" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
          [outerStrokeColor]="'#00758f'" [innerStrokeColor]="'#f29111'" [animation]="true" [animationDuration]="1000"
          [subtitle]="'Sql/Mysql'"></circle-progress>

        </div>
      </div>

    </div>
    <div class="carousel-item">

        <div class="card" style="width: 10rem">
          <div class="card-body">
            <circle-progress [percent]="20" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
              [outerStrokeColor]="'#f89820'" [innerStrokeColor]="'#5382a1'" [animation]="true" [animationDuration]="1000"
              [subtitle]="'Java'"></circle-progress>
          </div>
       </div>

       <div class="card" style="width: 10rem">
         <div class="card-body">

               <circle-progress [percent]="30" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
                 [outerStrokeColor]="'#5ea832'" [innerStrokeColor]="'#4cf20a'" [animation]="true" [animationDuration]="1000"
                 [subtitle]="'Spring boot'"></circle-progress>
               </div>
             </div>

             <div class="card" style="width: 10rem">
               <div class="card-body">
                 <circle-progress [percent]="15" [radius]="50" [outerStrokeWidth]="10" [innerStrokeWidth]="5"
                   [outerStrokeColor]="'#f20a6e'" [innerStrokeColor]="'#c20255'" [animation]="true" [animationDuration]="1000"
                   [subtitle]="'DevOps'"></circle-progress>
               </div>
             </div>
           </div>
          </div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
