<div class="login_form_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <!-- login_wrapper -->
        <div class="login_wrapper">
          <div class="row justify-content-center align-items-center">
            <h1>Iniciar Sesion</h1>
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

              <div class="formsix-pos">
                <div class="form-group i-email">
                  <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario"
                     [(ngModel)]="nombreUsuario" required />
                  <label class="form-label" for="nombreUsuario">Usuario</label>
                </div>
              </div>
              <div class="formsix-e">
                <div class="form-group i-password">
                  <input type="password" class="form-control" required id="password" placeholder="Password" [(ngModel)]="password" required [ngModelOptions]="{standalone: true}"/>
                  <label for="password" class="form-label">Password</label>
                </div>
              </div>
            <!--  <div class="login_remember_box">
              <label class="control control--checkbox">Remember me
                  <input type="checkbox">
                  <span class="control__indicator"></span>
                </label>

              </div>-->
              <div class="login_btn_wrapper">
                <a href="#" class="btn btn-primary login_btn"> Login </a>
              </div>


          </form>

          <!-- /.login_wrapper-->
        </div>
      </div>
    </div>
  </div>
