<div class="container">
  <div class="row">
    <div>
      <form {ngSubmit="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombreE">Nombre de la empresa</label>
            <input type="text" name="nombreE" id="nombreE" class="form-control" placeholder="" aria-describedby="helpId" ([(ngModel)]="nombreE" required>   
          </div>
          <div class="form-group">
            <label for="descripcionE">Descripción de la empresa</label>
            <input type="text" name="descripcionE" id="descripcionE" class="form-control" placeholder="" aria-describedby="helpId" ([(ngModel)]="descripcionE" required>   
          </div>
        
          <button class="btn btn-success">
                Agregar experiencia
        </button>
      </form>
    </div>
  </div>
</div>